# --- Python basis & cache ---
__pycache__/
.pytest_cache/
*.py[cod]
*.so
.Python
docs

# --- Virtuele omgeving & Packages ---
.venv/
.cache/
build/
dist/
*.egg-info/

# --- Geheimen & Configuratie ---
.env

# --- Jupyter Notebooks & Data ---
.ipynb_checkpoints/
data/

# --- Systeem rommel (voor het geval dat) ---
.DS_Store
*.swp
*.pyc